<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
</head>
<body>
    <form action="{% url 'todolist:rewrite' id=update_todo.pk %}" method="POST">
        {% csrf_token %}
        <h3>수정하기</h3>
        <label for="content">본문</label>
        <textarea name="content" id="" cols="30" rows="10">{{update_todo.content}}</textarea>
        <input type="submit" value="제출" name="submit">
    </form>
</body>
</html>