<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1> 회원가입 </h1>
    <form method="POST" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        <br>
        <input type="text" name="username" value="" placeholder="아이디를 입력하세요">
        <br>
        <br>
        <input type="password" name="password" value="" placeholder="비밀번호를 입력하세요">
        <br>
        <br>
        <input type="password" name="password2" value="" placeholder="비밀번호를 다시 한 번 입력하세요">
        <input type="submit" value="가입" >
    </form>
</body>
</html>